<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Add the GitHub repository as a NuGet package source -->
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="GitHub" value="https://nuget.pkg.github.com/JosepFe/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="Username" value="{username}" />
			<add key="ClearTextPassword" value="{token}" />
		</GitHub>
	</packageSourceCredentials>
</configuration>